.Piecharts{
    height: auto;
    width: 600px;
    background: #f1f5f8;
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
}

.Piechartoutside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeaa7;
    height: 92vh;
}

.heading1 h1 {
    padding: 0;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width:1000px) {
    .Piecharts{
        width: 100%;
        height: auto;
    }
}